*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 0 80px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Board-container,.Form-container{
  height: 80%;
}

.Board-container{
  background: red;
  width: 60%;
  display:flex;
  align-items: center;
  justify-content: center;

}

.Board-content{
  color: green;

}

.Form-container{
  display: flex; 
  align-items: center; 
  justify-content: center;
  width: 40%;
  background: yellow;
}

.Form-content{
  display:flex;
  width: 80%;
  margin: auto 0;
  flex-direction: column;
  /* line-height: 10px; */
}

